.cart-link {
    position: relative;
    width: 30px;
    height: 30px;
    display: block;
    &__count {
        position: absolute;
        right: -8px;
        bottom: -8px;
        background: $green;
        color: $white;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $textSmallSize;
    }
}