// colors
$white: #fff;
$black: #000;
$lightBlack: #6C6C6C;
$lightGreen: #F1FFF1;
$green: #339933;
$gray: #8B8B8B;
$darkGray: #A7A7A7;
$pink: #FF32A1;
$turquoise: #A1E2EB;

// gradients
$geenGradien: linear-gradient(223deg, #393 0%, #006300 100%);

// font
$defaultFont: 'Montserrat', sans-serif;


// font size
$defaultSize: 16px;

$titleDefaultSize: 2.5rem; //30px
$titleBiggestSize: 90px; //90px
$titleBigSize: 70px; //70px
$titleMiddleSize: 63px; //63px
$titleSmallSize: 50px; //50px

$textBigBiggestSize: 40px; //40px
$textBiggestSize: 30px; //30px
$textBigSize: 25px; //25px
$textBigMediumSize: 20px; //20px
$textMediumSize: 18px; //18px
$textSmallSize: 12px; //12px


// transition
$transitionDuration: .3s;


//display size
$mdWidth: 1200px;
$smWidth: 992px;
$xsWidth: 767px;
$xxsWidth: 350px;


//radius
$radius: 5px;
$xlRadius: 20px;