.footer {
    background: $green;
    padding: 25px 0;
    margin-top: auto;
    &-link {
        color: $white;
        text-decoration: none;
        margin-bottom: 10px;
        display: block;
        font-weight: 600;
        &:hover {
            color: $turquoise;
        }
    }
    &-list {
        margin-bottom: 25px;
    }
    &-copy {
        color: $white;
    }
}